@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary: #5E3BEE;
    --white: #ffffff;
    --item-bg: #F5FCFF;
    --red-lg:#E62872;
    --black :#282938;
    --body :#1C1E53;
    
}


*{

    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #2F303A;
    font-family: Poppins, sans-serif;
    color: var(--white);
}

.header-content,main,footer{
    width: 90%;
    margin:auto;
}

header{
    margin-top: 20px;
    box-shadow: 3px 2px #8888882e;
    /* position: fixed; 
    top: 0;
    left: 0; 
    right: 0; */
    /* z-index: 1000; */
}

/*Responsive*/


@media (max-width: 800px) {
    .header-content  {
      display: flex;
      flex-direction: column;
      margin: 10px;
      /* padding-top: 20px; */
      gap: 50px;
    }
  
    .header-content .left img {
      width: 300px;
      margin-right:20px ;
    }
    .header-content .right {
    
      margin-left:200px ;
    }
  }

@media (max-width: 800px) {
    .discover-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px;
    }
  
    .discover-content .covers-image {
      margin-top: 2rem;
      height: 40vh;
      width: 300px;
    }
  }

  
@media (max-width: 800px) {
    .join-main-section {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  
    .join-main-section .join-form {
      width: 100%;
      /* max-width: inherit; */
      /* margin: 2rem 0; */
      
    }
  }
  

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{    
    list-style: none;
    display:flex;
    gap: 30px;
    
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: white;
}

nav .logo img{
    margin-left: 50px;
}

nav .logo-name{
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 25px;
    
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content .left, .header-content .right{

    width: 50%;
}

.title{
 
 font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.left img {
    width: 400px;
    margin-top: 100px;
}

.paraagraphe{

    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
}

#section-header .btn{
    color: white;
    background-color: #1762A7;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;

}



.circle-1{

    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
    bottom: 5vw;
    left: 1vw;
    z-index: -1;
}
 
.circle-2{
    position: absolute;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
    top: 30vh;
    left: 42vw;
    z-index: -1;

}

 
.circle-3{
    position: absolute;
    overflow: hidden;
    width: 40vw;
    height: 40vw;
    /* border-radius: 50%; */
    /* background-color: rgb(52, 87, 178, .1); */
    /* bottom: -60px;
    right: -180px; */
    bottom: 0;
    right: 0;
    z-index: -1;
} 


.circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
  }


/* Discover */


#discover-main{
  margin: 80px;
}

.left-call-to-action , .right-call-to-action{
    width: 50%;
    
}

.discover-content{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.icon-section {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 50px;
  }


.icon{
    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
  padding: .75rem;
  width: 100px;
  height: 100px;
  background-color: #202027;
  margin-bottom: 2rem;
}


.icon-section .icon img {
    width: 40px;
  }

  .right-call-to-action img{
    
    width: 450px;
    
  }

  /* JOIN  */
 


.join-main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.join-main-section .join-title{
  
    font-weight: bold;
    margin: 0;
    font-size: 40px;

}

.join-main-section span{

    color: #E62872;
}


.join-main-section .join-form{

    width: 40%;
    height: 80%;
    background-color: #202027;
    align-items: center;
    padding:50px 50px;
    border-radius: 20px;
    margin-top: 80px;

  } 

.join-form .form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.join-form .form-group label{
    font-weight: bold;
    margin-bottom: 5px;
}

.join-form .form-group input{
    background: none;
    border: 1px solid #2E3852;
    font-size: 20px;
    padding: 20px;
    color: inherit;
    border-radius: 5px;
}

.form-group input:focus {

    border-color: #596da0;

}

.join-form .form-group .btn{
    
    background-color: #1762A7;
    color: #ffffff;
    width: 100%;
    height: 50px;
    border: 1px solid #1762A7;
    border-radius: 10px;
    font-size: 20px;
}
.join-form .form-group button:hover{
    background-color: #08fd25;
    cursor: pointer;
}


/* Style du footer */
.main-footer {
    background-color: #202027;
    color: white;
    padding: 20px 0;
    font-weight: bold;
    width: 100%;
    margin-top: 80px;
  }
  
  .main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-nav ul li {
    margin-right: 20px;
  }
  
  .footer-nav ul li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-nav ul li a:hover {
    color: #adadad;
  }
  
  .social-link img {
    width: 1em;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
  
